<div class="auth-container">
  <h3 class="form-title">Login to Ideal Classroom</h3>
  <i class="material-icons">
    school
  </i>
  <form class="form-container">
    <div class="input-container">
      <label name="username" for="username">Username</label>
      <input
        id="username"
        type="username"
        placeholder="Your username here..."
      />
    </div>
    <br />
    <div class="input-container">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Your password here ..."
      />
    </div>
    <div class="link-container">
      <a href="">Forgot your password?</a>
    </div>
    <br />
    <button class="button">Login</button>
  </form>

  <div>New to Ideal Classroom?</div>
  <div class="link-container">
    <router-link to="/register">Create a new account here</router-link>
  </div>
</div>
